@font-face {
    font-family: "Saira";
    src:url("fonts/SairaCondensed-Thin.ttf");
}

body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: 'Saira', sans-serif;
}

.whole-container {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: stretch; */
}

.picture {
    height: 100%;
    position: absolute;
    /* top: 0px;
    left: 0px; */
    overflow: hidden;
}

.whole-container > img {
    width: auto;
    height: 100%;
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* height: 100%; */
    /* width: auto; */
}

/* .whole-container {
    display: flex;
    flex-direction: column;
} */

/*.no_picture {
    /* height: 100%;
    position: absolute; */
    /* top: 0px;
    left: 650px;
    right: 0px; */
    /* color: white; */

.scripts {
    width: 150%;
    color: white;
    display: flex;
    margin-bottom: 0px;
    position: relative;
    top: 23%;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 20px;
}

.scripts h1 {
    font-size: 6em;
    font-weight: lighter;
    margin-bottom: 0px;
}

.scripts p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 2.8em;
}

.scripts iframe {
    padding-top: 10px;
}


