@font-face {
    font-family: "Saira";
    src:url("fonts/SairaCondensed-Thin.ttf");
}

body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: 'Saira', sans-serif;
}

#whole-container {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-left: 0px;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: stretch; */
}

/* #container_row {
    display: flex;
    flex-direction: column;
} */

#picture > img {
    width: auto;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    object-fit: cover;
}

#scripts {
    width: 80%;
    color: white;
    display: flex;
    margin-bottom: 0px;
    position: relative;
    top: 33%;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 20px;
}

#scripts h1 {
    font-size: 6em;
    font-weight: lighter;
    margin-bottom: 0px;
}

#scripts p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 2.8em;
}

#scripts iframe {
    padding-top: 10px;
}

/* Small devices (landscape phones, 576px and under) */
@media (max-width: 992px) {
    #picture {
        display: none;
    }
    body {
        background-image: url("images/homepg_dark.png");
        /* background-attachment: fixed; */
        /* background-position: 30% 35%; */
        /* opacity: 50%; */
        background-size: cover;
        background-position: center;
    }
    #scripts {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45%;
    }
    #scripts h1 {
        font-size: 3em;
    }
    button {
        background-color: black;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* small devices (desktops, 992px and under) */
@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 768px) and (max-width: 1400px) {
    #scripts {
        top: 33%;
    }
    #scripts h1 {
        font-size: 5.5em;
    }
}