#nav-bar {
    position: absolute;
    width: 100%;
    right: 25px;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

#nav-bar a {
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

#nav-bar img {
    margin-right: auto;
    width: 50px;
    height: auto;
    padding-left: 30px;
    cursor: pointer;
}

.navbar {
    position: absolute;
    width: 100%;
    right: 25px;
    top: 25px;
    z-index: 1;
}

.navbar-nav .nav-link {
    font-size: 1.3em;
    color: white;
    padding: 1%;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: white;
    background-color: transparent;
}

.navbar-collapse {
    text-align: right;
}

/* Small devices (landscape phones, 576px and under) */
@media (max-width: 576px) {
    /* .navbar-nav .nav-link {
        background-color: black;
        border: solid 1px white;
        margin-left: 15%;
    }
    .navbar-collapse {
        height: 50vh;
        width: 50%;
        z-index: 1;
    } */
}