@font-face {
    font-family: "Saira";
    src:url("fonts/SairaCondensed-Thin.ttf");
}

body {
    background-color: black;
    font-family: 'Saira', sans-serif;
}

.navbar {
    z-index: 1;
}

.picture {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/dad_podcasts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.picture h1 {
    padding: 0px;
    margin: 0px;
    padding-right: 30px;
    border-right: 5px solid white;
    color: white;
    text-align: center;
    font-size: 10em;
    height: 300px;
    line-height: 280px;
}

.picture a {
    color: white;
    text-decoration: none;
}

.podcasts_title {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}

.podcasts_menu {
    color: white;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    /* padding-top: 70px; */
}

.podcasts_menu h2 {
    margin: 0px;
    font-weight: lighter;
}

/* Small devices (landscape phones, 576px and under) */
@media (max-width: 576px) {
    .picture {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: bottom;
    }
    p {
        font-size: 2em;
    }
    button {
        background-color: black;
    }
    .podcasts_title h1 {
        display: none;
    }
    .podcasts_title h2 {
        font-size: 1.3em;
        text-align: center;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* small devices (desktops, 992px and under) */
@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 576px) and (max-width: 1400px) {
  
}