@font-face {
    font-family: "Saira";
    src:url("fonts/SairaCondensed-Thin.ttf");
}

body {
    background-color: black;
    font-family: 'Saira', sans-serif;
}

.nav-bar a {
    color: white;
}
.picture {
    /* background: transparent; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/dad_video_sermons.jpg");
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* overflow: hidden; */
}

.picture a {
    color: white;
    font-weight: lighter;
    font-size: 5em;
    position: absolute;
    top: 90%;
    right: 48%;
}

.picture h1 {
    position: absolute;
    font-weight: bold;
    top: 40%;
    right: 27%;
    color: white;
    text-align: center;
    font-size: 10em;
    /* z-index: 1; */
}

.no-picture {
    background-color: black;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    /* display: flex; */
    /* flex-direction: column; */
}

/* #no-picture-container a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

#no-picture-container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
} */

/* .column1 {
    display: flex;
    flex-direction: column;
    color: white;
} */

/* .column2 {
    display: flex;
    flex-direction: column;
} */

#accordionExample {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.no-picture button{
    background-color: black;
    border: none;
    height: 128px;
    font-size: 1.5em;
    color: white;
}

/* .button.accordion-button {
    color: white;
} */

.accordion-item {
    border: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown a {
    color: black;
    text-decoration: none;
    font-size: 1.8em;
}